@media only screen and (max-width: 963px){
    .search-box {
        position: relative;
        width: 219px;
        height: 40px;
        border-radius: 20px;
        border: none;
        outline: none;
        background-color: transparent;
        margin-right: 9px;
        margin-top: 5px;
    }
    .search-icon {
        color: mediumturquoise;
        position: absolute;
        top: 0;
        width: 60px;
        right: -20px;
        height: 30px;
        border-radius: 20px;
        box-shadow: var(--neushadow);
        display: flex;
        justify-content: center;
        margin-top: 5px;
        transition: all 0.6s ease-in-out;
    }
    .nav-link-div ul li {
        list-style: none;
        width: 84px;
        height: 40px;
        box-shadow: var(--neushadow);
        border-radius: 20px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        color: mediumturquoise;
        margin: 0px 3px;
        font-family: var(--fonts001);
        transition: all 0.5s ease-in-out;
    }

}



@media only screen and (max-width: 831px){
.nav-item{
    display: none;
}
.open{
    display: block;
}

}
@media only screen and (max-width: 771px){

    .section-01{
        width: 100%;
        height: 1000px;
        background-color: #dde1e7;
        
    }
    .r1 {
        width: 80%;
        height: 1000px;
        display: flex;
        justify-content: center;
        /* border: 1px solid red; */
        align-items: center;
        margin: auto;
        margin-top: 60px;
    }
    .c{
        width: 100%;
    }
    .c2-box {
        width: 100%;
        height: 303px;
        border-radius: 20px;
        margin-left: 0%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img-fluid {
        max-width: 116%;
    }


}
.your{
    color: black;

}
#type-text{
    color: rgb(238, 99, 19);
}
@media only screen and (max-width: 600px){
.your{
    color: black;

}
#type-text{
    color: rgb(238, 99, 19);
}

}
@media only screen and (max-width: 1230px){

    .name11 {
        text-align: center;
        margin-top: 58px;
        color: grey;
        font-family: var(--popins);
        font-size: 18px;
    }

    .col-a1 {
        width: 45%;
        height: 80px;
        /* border: 1px solid red; */
        border-radius: 20px;
        color: rgb(238, 99, 19);
        color: grey;
        font-size: 10px;
        line-height: 10px;
        overflow: hidden;
        padding: 4px;
        text-align: center;
    }
}
@media only screen and (max-width: 1200px){
    .s2r3c1 {
        width: 327px;
        height: 163px;
        /* border: 1px solid red; */
        margin: auto;
        box-shadow: var(--neushadow);
        border-radius: 20px;
        transition: all 0.4s ease-in-out;
    }
    .m0m0{
        margin-top: 100px;
    }
    .section-02 {
        width: 100%;
        height: 100%;
        padding-bottom: 100px;
        background-color: transparent;
    }
    
}
@media only screen and (max-width: 1000px){
    .s2r3c1 {
        width: 327px;
        height: 163px;
        /* border: 1px solid red; */
        margin: auto;
        box-shadow: var(--neushadow);
        margin-bottom: 89px;
        border-radius: 20px;
        transition: all 0.4s ease-in-out;
    }
    .m0m0{
        margin-top: 0px;
    }
    .s2r3c1 {
        width: 327px;
        height: 163px;
        /* border: 1px solid red; */
        margin: auto;
        box-shadow: var(--neushadow);
        margin-bottom: 89px;
        border-radius: 20px;
        transition: all 0.4s ease-in-out;
    }
    .button-00 {
        display: flex;
        flex-direction: row;
        margin-top: 18px;
    }


}
@media only screen and (max-width: 500px){

    .button-00 {
        display: flex;
        flex-direction: row;
        margin-top: 18px;
    }
}
.name11 {
    text-align: center;
    margin-top: 58px;
    color: grey;
    font-family: var(--popins);
    font-size: 20px;
}

.c2222 {
    width: 97%;
    margin: auto;
}


@media only screen and (max-width: 670px){

    .s3c1 {
        width: 89%;
        height: 400px;
        margin: auto;
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section-03 {
        width: 100%;
        padding-bottom: 100px;
        height: 1042px;
        background-color: transparent;
        overflow: hidden;
    }
    .ghgh{
        margin-left: -30px;
    }
}
@media only screen and (max-width: 680px){
.gellery-middle{
    display: block;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:   -5px -5px 9px #ffffff73,  5px 5px 9px rgba(94, 104, 121, 0.288);
    margin-bottom: 60px;
    border-radius: 30px;
}
.section-04 {
    width: 100%;
    height: 1261px;
    padding-bottom: 100px;
}
.img000 {
    width: 46%;
    height: 130px;
    box-shadow: var(--neushadow);
    margin: auto;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
}
.r555 {
    width: 80%;
    margin: auto;
    height: 302px;
    /* border: 1px solid red; */
    margin-top: 40px;
}
.section-04 {
    width: 100%;
    height: 1317px;
    padding-bottom: 100px;
}
.img000 {
    width: 46%;
    height: 130px;
    box-shadow: var(--neushadow);
    margin: auto;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
}

}


@media only screen and (max-width: 470px){
    .img000 {
        width: 86%;
        height: 139px;
        box-shadow: var(--neushadow);
        margin: auto;
        border-radius: 20px;
        overflow: hidden;
        margin-bottom: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.5s ease-in-out;
    }
    .section-04 {
        width: 100%;
        height: 100%;
        padding-bottom: 100px;
    }
    
    .r555 {
        width: 81%;
        margin: auto;
        height: 673px;
        /* border: 1px solid red; */
        margin-top: 40px;
    }
    .gellery-middle {
        display: block;
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        box-shadow: -5px -5px 9px #ffffff73, 5px 5px 9px rgba(94, 104, 121, 0.288);
        margin-bottom: 60px;
        border-radius: 30px;
    }
    .img000 img {
        height: 128px;
        margin: auto;
        width: 100%;
    }
    .section-04 {
        width: 100%;
        height: 2000px;
        padding-bottom: 127px;
    }

    .img000 {
        width: 86%;
        height: 170px;
        box-shadow: var(--neushadow);
        margin: auto;
        border-radius: 20px;
        overflow: hidden;
        margin-bottom: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.5s ease-in-out;
    }
    .r555 {
        width: 81%;
        margin: auto;
        height: 762px;
        /* border: 1px solid red; */
        margin-top: 40px;
    }
    .section-04 {
        width: 100%;
        /* border: 1px solid red; */
        height: 2210px;
        padding-bottom: 127px;
    }

}

@media only screen and (max-width: 1000px){
    .s5r1c1 {
        width: 48%;
        height: 100vh;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .ci-box::before {
        content: '';
        position: absolute;
        width: 37px;
        height: 64px;
        border-radius: 50%;
        box-shadow: 2px 2px 10px rgb(0, 255, 195), -2px 2px 10px rgb(117, 9, 194), 2px -2px 10px rgb(4, 176, 104), -2px -2px 10px aqua;
        animation: rtrt 2s linear infinite;
    }

}
@media only screen and (max-width: 800px){
    .ci-box::before {
        content: '';
        position: absolute;
        width: 37px;
        height: 64px;
        border-radius: 50%;
        box-shadow: 2px 2px 10px rgb(0, 255, 195), -2px 2px 10px rgb(117, 9, 194), 2px -2px 10px rgb(4, 176, 104), -2px -2px 10px aqua;
        animation: rtrt 2s linear infinite;
    }

    .s5r1c1 {
        width: 100%;
        height: 587px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .section-04 {
        width: 100%;
        height: 638px;
        padding-bottom: 100px;
    }

    .s5r1c1 {
        width: 78%;
        height: 587px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .ci-box::before {
        content: '';
        position: absolute;
        width: 70px;
        height: 64px;
        border-radius: 50%;
        box-shadow: 2px 2px 10px rgb(0, 255, 195), -2px 2px 10px rgb(117, 9, 194), 2px -2px 10px rgb(4, 176, 104), -2px -2px 10px aqua;
        animation: rtrt 2s linear infinite;
    }
    .s5r1 {
        width: 100%;
        height: 100%;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 100px;
    }
    .section-05{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .s5r1 {
        width: 100%;
        height: 100%;
        background-color: transparent;
        display: flex;
        justify-content: center;
        margin: auto;
        align-items: center;
        padding-bottom: 100px;
    }

}
@media only screen and (max-width: 680px){

    .section-04 {
        width: 100%;
        height: 1326px;
        padding-bottom: 100px;
    }
    .s5r1 {
        width: 80%;
        height: 100%;
        background-color: transparent;
        display: flex;
        justify-content: center;
        margin: auto;
        align-items: center;
        padding-bottom: 100px;
    }

    .s5r1c1 {
        width: 100%;
        height: 587px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

}
@media only screen and (max-width: 480px){
    .section-04 {
        width: 100%;
        height: 2170px;
        padding-bottom: 100px;
    }

}
@media only screen and (max-width: 400px){
button{
    width: 80%;
    padding: 3px;
}
.ci-box::before {
    content: '';
    position: absolute;
    width: 44px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 2px 2px 10px rgb(0, 255, 195), -2px 2px 10px rgb(117, 9, 194), 2px -2px 10px rgb(4, 176, 104), -2px -2px 10px aqua;
    animation: rtrt 2s linear infinite;
}

}
@media only screen and (max-width: 1300px){
    .hisab-row2 .col-md-3::before {
        content: "00.00";
        width: 90px;
        height: 90px;
        border-radius: 50%;
        box-shadow: var(--neushadow),var(--neushadow1);
        position: absolute;
        top: -70px;
        right: 33%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(117, 9, 194);
        font-size: 27px;
        color: rgb(238, 99, 19);
        font-family: var(--fonts001);
        border-left: 5px dotted rgb(238, 99, 19);
        backdrop-filter: blur(6px);
    }
    .hisab-row3 .col-md-3::before {
        content: "00.00";
        width: 90px;
        height: 90px;
        border-radius: 50%;
        box-shadow: var(--neushadow),var(--neushadow1);
        position: absolute;
        top: -70px;
        right: 33%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(117, 9, 194);
        font-size: 27px;
        color: rgb(238, 99, 19);
        font-family: var(--fonts001);
        border-left: 5px dotted rgb(238, 99, 19);
        backdrop-filter: blur(6px);
    }


}



@media only screen and (max-width: 992px){
    .hisab-row2 .col-md-3::before {
        content: "00.00";
        width: 90px;
        height: 90px;
        border-radius: 50%;
        box-shadow: var(--neushadow),var(--neushadow1);
        position: absolute;
        top: -70px;
        right: 22%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(117, 9, 194);
        font-size: 27px;
        color: rgb(238, 99, 19);
        font-family: var(--fonts001);
        border-left: 5px dotted rgb(238, 99, 19);
        backdrop-filter: blur(6px);
    }
    .hisab-row3 .col-md-3::before {
        content: "00.00";
        width: 90px;
        height: 90px;
        border-radius: 50%;
        box-shadow: var(--neushadow),var(--neushadow1);
        position: absolute;
        top: -70px;
        right: 22%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(117, 9, 194);
        font-size: 27px;
        color: rgb(238, 99, 19);
        font-family: var(--fonts001);
        border-left: 5px dotted rgb(238, 99, 19);
        backdrop-filter: blur(6px);
    }

}
@media only screen and (max-width: 768px){
    .hisab-row2 .col-md-3::before {
        content: "00.00";
        width: 90px;
        height: 90px;
        border-radius: 50%;
        box-shadow: var(--neushadow),var(--neushadow1);
        position: absolute;
        top: -70px;
        right: 13%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(117, 9, 194);
        font-size: 27px;
        color: rgb(238, 99, 19);
        font-family: var(--fonts001);
        border-left: 5px dotted rgb(238, 99, 19);
        backdrop-filter: blur(6px);
    }
    .hisab-row3 .col-md-3::before {
        content: "00.00";
        width: 90px;
        height: 90px;
        border-radius: 50%;
        box-shadow: var(--neushadow),var(--neushadow1);
        position: absolute;
        top: -70px;
        right: 13%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(117, 9, 194);
        font-size: 27px;
        color: rgb(238, 99, 19);
        font-family: var(--fonts001);
        border-left: 5px dotted rgb(238, 99, 19);
        backdrop-filter: blur(6px);
    }

}
@media only screen and (max-width: 560px){
    .hisab-row2 .col-md-3 {
        width: 41%;
        height: 73px;
        box-shadow: var(--neushadow1);
        margin: auto;
        position: relative;
    }

    .section-details {
        width: 100%;
        height: 882px;
        background-color: var(--neuback);
    }

    .hisab-row3 .col-md-3 {
        width: 41%;
        height: 73px;
        box-shadow: var(--neushadow1);
        margin: auto;
        position: relative;
    }
    .hisab-row2 .col-md-3 {
        width: 41%;
        height: 73px;
        box-shadow: var(--neushadow1);
        margin: auto;
        position: relative;
        margin-top: 100px;
    }
    .hisab-row3 .col-md-3 {
        width: 41%;
        height: 73px;
        box-shadow: var(--neushadow1);
        margin: auto;
        position: relative;
        margin-top: 100px;
    }
    .section-details {
        width: 100%;
        height: 1131px;
        background-color: var(--neuback);
    }

    .hisab-row2 .col-md-3::before {
        content: "00.00";
        width: 90px;
        height: 90px;
        border-radius: 50%;
        box-shadow: var(--neushadow),var(--neushadow1);
        position: absolute;
        top: -70px;
        right: 31%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(117, 9, 194);
        font-size: 27px;
        color: rgb(238, 99, 19);
        font-family: var(--fonts001);
        border-left: 5px dotted rgb(238, 99, 19);
        backdrop-filter: blur(6px);
    }
    .hisab-row3 .col-md-3::before {
        content: "00.00";
        width: 90px;
        height: 90px;
        border-radius: 50%;
        box-shadow: var(--neushadow),var(--neushadow1);
        position: absolute;
        top: -70px;
        right: 31%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(117, 9, 194);
        font-size: 27px;
        color: rgb(238, 99, 19);
        font-family: var(--fonts001);
        border-left: 5px dotted rgb(238, 99, 19);
        backdrop-filter: blur(6px);
    }

}
@media only screen and (max-width: 500px){

    .hisab-row2 .col-md-3::before {
        content: "00.00";
        width: 90px;
        height: 90px;
        border-radius: 50%;
        box-shadow: var(--neushadow),var(--neushadow1);
        position: absolute;
        top: -70px;
        right: 26%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(117, 9, 194);
        font-size: 27px;
        color: rgb(238, 99, 19);
        font-family: var(--fonts001);
        border-left: 5px dotted rgb(238, 99, 19);
        backdrop-filter: blur(6px);
    }
    .hisab-row3 .col-md-3::before {
        content: "00.00";
        width: 90px;
        height: 90px;
        border-radius: 50%;
        box-shadow: var(--neushadow),var(--neushadow1);
        position: absolute;
        top: -70px;
        right: 26%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(117, 9, 194);
        font-size: 27px;
        color: rgb(238, 99, 19);
        font-family: var(--fonts001);
        border-left: 5px dotted rgb(238, 99, 19);
        backdrop-filter: blur(6px);
    }
}
@media only screen and (max-width: 600px){


}
@media only screen and (max-width: 600px){


}
@media only screen and (max-width: 600px){


}
@media only screen and (max-width: 600px){


}
@media only screen and (max-width: 600px){


}
@media only screen and (max-width: 600px){


}
@media only screen and (max-width: 600px){


}
@media only screen and (max-width: 600px){


}
@media only screen and (max-width: 600px){


}
@media only screen and (max-width: 600px){


}
@media only screen and (max-width: 600px){


}
@media only screen and (max-width: 600px){


}
@media only screen and (max-width: 600px){


}
@media only screen and (max-width: 600px){


}
@media only screen and (max-width: 600px){


}
@media only screen and (max-width: 600px){


}
@media only screen and (max-width: 600px){


}
@media only screen and (max-width: 600px){


}
@media only screen and (max-width: 600px){


}
@media only screen and (max-width: 600px){


}
@media only screen and (max-width: 600px){


}
@media only screen and (max-width: 600px){


}
@media only screen and (max-width: 600px){


}
@media only screen and (max-width: 600px){


}
@media only screen and (max-width: 600px){


}
@media only screen and (max-width: 600px){


}
@media only screen and (max-width: 600px){


}
@media only screen and (max-width: 600px){


}
@media only screen and (max-width: 600px){


}
@media only screen and (max-width: 600px){


}
@media only screen and (max-width: 600px){


}
@media only screen and (max-width: 600px){


}
@media only screen and (max-width: 600px){


}
@media only screen and (max-width: 600px){


}
@media only screen and (max-width: 600px){


}

