@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&family=Alkatra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&family=Poppins:wght@300&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #dde1e7;
}
:root{
    --neushadow: -5px -5px 9px #ffffff73, 5px 5px 9px rgba(94, 104, 121, 0.288);
    --neuback :  #dde1e7;
    --neushadow1 : inset -5px -5px 9px #ffffff73, inset 5px 5px 9px rgba(94, 104, 121, 0.288);
    --neuback :  #dde1e7;

    --fonts001 : 'Share Tech Mono', monospace;
    --fonts002 : 'Alkatra', cursive;
    --popins : 'Poppins', sans-serif;






}

::-webkit-scrollbar{
    width: 6px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent,red,yellow);
    border-radius: 10px;
    box-shadow: var(--neushadow);
}

body{
    background-color: var(--neuback);
}



.section-01{
    width: 100%;
    height: 500px;
    background-color: #dde1e7;
    
}
/* .box-01{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: #dde1e7;
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: rgb(213, 21, 223);
    align-items: center;
    box-shadow:    -3px -3px 5px #ffffff73, 3px 3px 7px rgba(94, 104, 121, 0.288);
} */

.nav-bar{
    width: 95%;
    height: 65px;
    background-color: transparent;
    box-shadow: var(--neushadow);
    margin: auto;
    margin-top: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
    backdrop-filter: blur(5px);
}
.nav-logo-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.nav-logo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: var(--neushadow);
    margin-left: 15px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-logo img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.nav-logo::after{
    content: '';
    position: absolute ;

    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: var(--neushadow1);
}
.nav-title{
    color:mediumturquoise ;
    font-family: var(--fonts001);
    font-size: 25px;
    letter-spacing: 2px;
    padding: 0px 15px;
}
.nav-item {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    justify-content: center;
    height: 50px;
}
.search-box{
    position: relative;
    width: 250px;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: transparent;
    margin-right: 20px;
    margin-top: 5px;
}
.nav-search{
    width: 250px;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: transparent;
    box-shadow: var(--neushadow1);
    padding-left: 16px;
    padding-right: 75px;
    color: mediumturquoise;
    display: flex;
    justify-content: end;
    align-items: center;
}
.search-icon{
    color:mediumturquoise ;
    position: absolute;
    top: 0;
    width: 60px;
    right: 5px;
    height: 30px;
    border-radius: 20px;
    box-shadow: var(--neushadow);
    display: flex;
    justify-content: center;
    margin-top: 5px;
    transition: all 0.6s ease-in-out;
}
.search-icon span{
   background-color: transparent;
   border-radius: 20px;
   margin-top: 5px;
   cursor: pointer;
}
.search-icon:hover{
    background-color: mediumturquoise;
    color: white;
    box-shadow: 2px 2px 5px mediumaquamarine, 
                -2px 2px 5px mediumaquamarine,
                2px -2px 5px mediumaquamarine,
                -2px -2px 5px mediumaquamarine;
                ;
    transform: scale(1.1);
}


.nav-link-div{
    padding-left: 0px;
    padding-right: 15px;
    margin-top: 5px;
}
.nav-link-div ul{
    display: flex;
    flex-direction: row;
}
.nav-link-div ul li{
    list-style: none;
    width: 100px;
    height: 40px;
    box-shadow: var(--neushadow);
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: mediumturquoise;
    margin: 0px 10px;
    font-family: var(--fonts001);
    transition: all 0.5s ease-in-out;
}
.nav-link-div ul li:hover{
    box-shadow: var(--neushadow1);
}
.r1{
    margin-top: 50px;
   
}
.r1{
    width: 80%;
    height: 500px;
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
    align-items: center;
    margin: auto;
    margin-top: 60px;
}
.c{
    width: 50%;
    height: 400px;
    /* border: 1px solid red; */
    font-family: var(--popins);
}
.c1-main-title{
    color: grey;
    font-size: 12px;
}
.c1-typing-text{
    font-size: 30px;
    font-weight: 600;
} 
.find , .your{
    color: rgb(238, 99, 19);
    letter-spacing: 2px;
    text-transform: capitalize;
}
.details-c1{
    font-size: 14px;
    color: grey;
    font-family: var(--popins);
    margin-top: 20px;
}
.all-box a{
    color: white;
}
.all-box{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
i{
    color: grey;
    font-size: 21px;
}
.box00{
    background-color: transparent;
    box-shadow: var(--neushadow);
    width: 35px;
    height: 35px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6px;
    transition: all 0.3s ease-in-out;
}
.box00:hover{
    box-shadow: var(--neushadow1);
    color: red;
    transform: scale(1.1);
    margin-top: -10px;
}
.box00:hover i{
    color: red;
}

.c2{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.c2-box{
    width: 231px;
    height: 280px;
   
    border-radius: 20px;
    margin-left: 9%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-fluid{
  max-width: 110%;
}
.c2-box img{
    border-radius: 20px;
    box-shadow: var(--neushadow);
    transition: transform 1s ease-in-out;
    cursor: pointer;
   
}
.c2-box img:hover{
    transform: scale(1.12);
    box-shadow: var(--neushadow1);
}

/* open-close */
.open-close{
    display: flex;
    flex-direction: row;
    margin-right: 25px;
    border-radius: 20px;
}
.close{
    display: none;
}
.open{
    display: none;
}
.open-close i{
    font-size: 45px;
   
}

.mini-nav-section{
    width: 90%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    box-shadow: var(--neushadow1);
    margin: auto;
    border-radius: 10px;

}
.mini-nav-section a {
    color: rgb(238, 99, 19);
    font-size: 26px;
    font-family: var(--fonts001);
    text-decoration: none;
    background-color: transparent;
    box-shadow: var(--neushadow);
    width: 202px;
    text-align: center;
    margin: 11px;
    border-radius: 14px;
    height: 45px;
}
#nnn {
    width: 90%;
    height: 450px;
    display: none;
    margin: auto;
    transition: all 1s ease-in-out;
}

.mini-nav-section a:hover{
    box-shadow: var(--neushadow1);
    transform: scale(1.1);
}



.section-02{
    width: 100%;
    height: 1000px;
    background-color: transparent;

}
.c2222{
    width: 80%;
    margin: auto;
}
.s2-r1{
    width: 100px;
    height: 100px;
}
.heading-s2{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
    align-items: center;
    color: rgb(238, 99, 19);
    font-family: var(--popins);
    font-size: 35px;
    letter-spacing: 2px;
    font-weight: 600;
}
.s2r3{
width: 90%;
margin: auto;
margin-top: 100px;
}
.s2r3c1{
    width: 30%;
    height: 160px;
    /* border: 1px solid red; */
    margin: auto;
    box-shadow: var(--neushadow);
    border-radius: 20px;
    transition: all 0.4s ease-in-out;
    
    
}
.s2r3c1:hover{
 transform: scale(1.1);
}
.logo-div{
    width: 80px;
    height: 80px;
    background-color: transparent;
    box-shadow: var(--neushadow1);
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -50px auto ;
    backdrop-filter: blur(5px);
   
}
.logo-div::before{
    content: '';
    position: absolute;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: var(--neushadow);


}
.logo-div img{
    border-radius: 50%;
    background-color: transparent;
}
.name11{
    text-align: center;
    margin-top: 58px;
    color: grey;
    font-family: var(--popins);
    font-size: 20px;
}
.col-a1{
    width: 45%;
    height: 80px;
    /* border: 1px solid red; */
    border-radius:20px ;
    color: rgb(238, 99, 19);
    color: grey;
    font-size: 10px;
    line-height: 13px;
    overflow: hidden;
    padding: 4px;
    text-align: center;
}
.col-a2{
    width: 10px;
    height: 80px;
    /* border: 1px solid red; */
    border-radius:20px ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col-a3{
    width: 45%;
    height: 80px;
    /* border: 1px solid red; */
    border-radius:20px ;
    color: grey;
    font-size: 10px;
    line-height: 13px;
    overflow: hidden;
    padding: 4px;
    text-align: center;
}
.line-00{
    display: block;
    width: 2px;
    height: 70px;
    background-color: rgb(188, 187, 187);
    border-radius: 10px;
    color: grey;
    font-size: 1px;
}

.button-00{
    display: flex;
    flex-direction: row;
    margin-top: 10px;

}
.btn1  , .btn2 {
    width: 45%;
    text-align: center;
    background-color: transparent;
    box-shadow: var(--neushadow);
    border-radius: 10px;
    margin: auto;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
    
}
.btn1 a , .btn2 a{
    text-decoration: none;
    color: rgb(238, 99, 19);
    padding: 3px 10px;
    background-color: transparent;
}
.btn1:hover, .btn2:hover{
    background-color: transparent;
    box-shadow: var(--neushadow1);
}
.contact-00{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
   
}

.box000{
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: var(--neushadow);
    margin: auto;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    color: rgb(238, 99, 19);
    display: flex;
    justify-content: center;
    align-items: center;
}
.box000:hover{
    box-shadow: var(--neushadow1);
    margin-top: -5px;
    background-color: transparent;
    transform: scale(1.05);

}
.box000 i {
    color: rgb(238, 99, 19);
    background-color: transparent;
    font-size: 14px;
    border-radius: 50%;
}
.box000:hover i{
    color: grey;
}
/* .nmnm{
    padding-bottom: 100px;
    margin-bottom: 100px;
} */